.modal.fade-scale {
	transform: scale(0);
	opacity: 0;
	transition: transform 250ms linear, opacity 250ms linear;
}
.modal.fade-scale.show {
	opacity: 1;
	transform: scale(1);
}
.modal-backdrop {
	background-color: var(--dark);
}
.modal {
	.modal-content {
		border-radius: 5px;
		border: none;
		&::before {
			content: "";
			height: 15px;
			background-color: var(--dark);
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		.btn-close {
			background: transparent;
		}
	}
}
@media (min-width: 576px) {
	.modal-sm {
		max-width: 360px;
	}
}
